<div class="alert alert-primary" role="alert" *ngFor="let itemX of items">
    {{itemX.name}} - {{itemX.id}}  
    <div style="float:right" (click)="borrar(itemX)">   
        <fa-icon [icon]="faTrash1"></fa-icon>
    </div>
    <div class="mx-4" style="float:right" (click)="editar(itemX)" data-bs-toggle="modal" data-bs-target="#exampleModal">   
        <fa-icon [icon]="faPencil1"></fa-icon>
    </div>    
</div> 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar {{editarItem.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit) = "agregarItemEditado()">
                <input 
                    type="text" placeholder="Edita tarea" name="nameX" class="form-control"
                    [(ngModel)] = "editarItem.name"
                    >        
                <button class="btn btn-warning mt-3" type="submit">Editar</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>          
        </div>
      </div>
    </div>
  </div>